

.header {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: bisque;
    text-transform: capitalize;
    display: flex;
}

.logo {
    height: 100%;
    width: 30%;
}

.logo h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px;
    padding-bottom: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}

.menu {
    display: flex;
    width: 30%;
    height: 80%;
    position: absolute;
    right: 1%;
    top: 5%;
}

.button {
    padding: 3% 5%;
    margin: 5%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: beige;
    height: 80%;
}